<?xml version="1.0" encoding="utf-8"?>
<model>
	<name>Final_assembly_for_gazebo.urdf</name>
	<version>1.0</version>
	<sdf version = '1.4'>model.sdf</sdf>
	
	<author>
		<name>Aayush Vats</name>
		<email>vatsaayush11@gmail.com</email>
	</author>
	
	<description>
		World for thesis simulation
	</description>
</model>
